extends layout

block content
  h1= title
  p Welcome to #{title}
  form
   button(formaction="/homeConsole") Home
  div
   label Select Form:
   select
    option(value='form1') form1
    option(value='form2') form2
    option(value='form3') form3
  div
    label Enter First Recipient:
    input(type='text', name='name_field', value='Recipient1')
    br
    label Enter Second Recipient:
    input(type='text', name='name_field', value='Recipient2')
  div
    label Enter Message:
    textarea(rows='4', cols='50')
     | Please complete this form and return it by email
  div
   form
    button Send
